*{
    margin: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* header styling */
.H1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
     background-color: rgb(35,  30, 21);
}
.H1 p{
    font-family: 'Graphik Trial', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17.55px;
   
    color: rgb(255, 255, 255);
    padding: 10px;
}
.H1 a{ 
    color: rgb(255, 255, 255);
     font-family: 'Graphik Trial', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17.55px;
    text-decoration: underline;
}
/* navigation styling */
nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid #f6f6f4;
    /* position: fixed; */
    
}
.left{
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 10px;
}
.menu-list{
    display: flex;
    gap: 2em;
}
.menu-list li a{
    font-size: 13px;
    font-weight: 500;
    color: black;
}
.right{
    display: flex;
    align-items: center;
     margin-right: 20px;
    margin-top: 10px;
}
.menu-list2{
    display: flex;
    align-items: center;
    gap: 2em;
}
.menu-list2 li a{
    font-size: 13px;
    font-weight: 500;
    color: black;
}
.btn1 a{
    padding: 13px 25px ;
    border: 1px solid black;
    border-radius: 30px;
}

.btn1 a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    box-shadow: 0px 5px 0px 0px black;
    }
.fa-solid {
    width: 50px;
}
.hamburger{
    font-size: 30px;
}
.hamburger:hover{
 background-color: #e2dcd6;
 padding: 2px;
 transition: 1s ;
}
.drop-down:hover{
    background-color: #e2dcd6; 
    padding: 2px;
    transition: .4s ;
}
.drop-down1 a:hover{
    background-color: #e2dcd6; 
    padding: 2px;
    transition: .4s ;
}
/* nav bar media query */
@media (max-width:1251px) {
    .menu-list{
        display: none;
    }
} 
 @media (max-width:750px) {
    .btn1{display: none;}
    .drop-down1{display: none;}
    
} 
 @media (max-width:499px){
    .H1 {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 10px;
    } 
}
/* drop solution */

/* this is the menu problem */
/* .menu-list{
    display: flex;
}
.drop-down{
    position: relative;
}

.list-wrapper1{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    background-color: white;
    padding: 20px;
    z-index: 999;
    border: 2px solid black;
} */
/* .drop-down:hover .list-wrapper1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list51{
    background-color: white;
    border: 2px solid  #f6f6f4;
    padding: 20px;
}
.list-header1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.ul-wrapper51{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ul-list1{
    min-width: 200px;
    margin: 0 20px;
} */

/* .list61{
    background-color: #f6f6f4;
    padding: 20px;
} */






/* .drop-down:hover .list-wrapper{
    display: flex;
}
.ul-wrapper51{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
    
}
.ul-list1{
    flex: 1;
    min-width: 200px;
    /* margin-bottom: 20px; */
  }
  .ul-list1 ul li {
    margin-bottom: 20px;
  }








/* drop down resources */
 .drop-down{
    position: relative;
}
.list-wrapper{    
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    background-color: white;
    padding: 20px;
    z-index: 999;
    border: 2px solid white;
}
.drop-down:hover .list-wrapper{
    display: flex;
}
.list5{
    background-color: white;
    border: 2px solid white;
    border: 2px solid #f6f6f4;
    padding:20px
} 
.list-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.ul-wrapper5{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
  .ul-list{
    flex: 1;
    min-width: 200px;
    margin: 0 20px;
  }
.ul-list h4{
    color: black;
    margin-bottom: 10px;
    display: inline-block;
    padding-bottom: 15px;
    font-size: 11px;
    font-weight: 600;
}
.ul-list ul li{
    display: block;
    color: black;
    padding: 6px 0;
    font-size: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
}
.list6{
    background-color: #f6f6f4;
    padding: 20px;
}
.list6-sectionA li{
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 15px;
}
.list6-sectionB H4{
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 10px;
}
.list6-sectionB ul li{
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
} 
/* Nav2 */
.nav2{
    padding: 120px;
    border: 2px solid #f6f6f4;
}
.nav2 h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav2 p{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
     font-family: 'Graphik Trial', sans-serif;
    margin-bottom: 20px;
}
.nav2-btn{
    text-align: center;
}
.nav2 button{
    padding: 12px 22px;
    background-color: yellow;
    border-radius: 20px;
    border: 1px solid black;
} 
.Revenue{
    margin-left: 6px;
}
 .nav2 h1 .Revenue{
    display: inline;
 }
@media (max-width:1063px) {
    .nav2{
    padding: 60px;}
    
}
@media (max-width:951x) {
    .nav2 h1 .Revenue {
        display: block;}
 .nav2 p,
    .nav2-btn {
        text-align: center;
    }
  
} 
/* form */
.form{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    gap: 3.5em;
    padding: 30px;
}
.formA h2{
    font-family: "Means Web";
    font-size: 45px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #231e15;
}
.formA p{
    font-family: "Graphik Web";
     font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #231e15;
}
.fo {
    text-decoration: underline;
    color: black;
}
.formA a{
      color: black;
}
.foo:hover{
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .4s ease;
}

.formul-wrapper ul li{
    font-family: "Graphik Web";
     font-size: 16px;
    font-weight: 400;
    line-height: 0.2;
    margin-bottom: 30px;
    color: #231e15;
    list-style-type: circle;
}
.formul-wrapper {
    display: flex;}
    

.formB{
    background-color: white;
    width: 350px;
    height: 510px;
    border: 2px solid white;
    
}
.formB1 h2{
     font-family: "Means Web";
    font-size: 38px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.formB1 p {
     font-family: "Means Web";
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;

}

.contact-form {
    max-width: 350px; 
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
      margin: 10px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}
.form-group {
    display: flex;
    justify-content: space-between; 
    
    align-items: center; 
}

.form-label {
    font-weight: bold;
    color: #333;
}
.contact-select {
    
    width: 120px; 
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.afterform{
   border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
  .afterform-btn {
    text-align: center;
  }
  .after-btn{
     background-color: yellow;
     padding: 12px 130px;
      border: 1px solid black;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .aa{
    font-size: 32px;
    font-weight: 600;
    font-family: "Means Web";
  }
  .afterform p, .yy, .bb{
      font-family: "Graphik Web";
      font-size: 13px;
      font-weight: 400;
    
  }
  .hmm{
    font-family: "Graphik Web";
    font-size: 13px;
    font-weight: 400;
  }
.hmm a {
    color: black;
    text-decoration: underline;
}
  
 /* mega wrapper */
 .mega-wrapper{
    background-color: #231e15;
    padding: 120px;
 } 

 .mini-wrapper, .mini-wrapper11{
    display: flex;
    justify-content: space-around;
    text-align: center;
 } 
 .mini-wrapper{
    margin-bottom: 15px;
 }
 .mini-wrapper h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 37.5px;
    font-weight: 400;   
    color: white; 
 }
.mini-wrapper h3{
    font-family: "Graphik Web";
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;

}
.mini-wrapper p{
    font-family: "Graphik Web";
    font-size: 16px;
    font-weight: 400;
    color: white;

}
.rap {
    font-family: "Graphik Web";
    font-size: 24px;
    font-weight: 400;   
    color: white; 
 }
.mini-wrapper11 h3{
    font-family: "Graphik Web";
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;

}
.mini-wrapper11 p{
    font-family: "Graphik Web";
    font-size: 16px;
    font-weight: 400;
    color: white;
}
@media (max-width: 990px) {
    .mini-wrapper, .mini-wrapper11 {
        display: block;
        justify-content: initial; 
        padding: 15px;
    }
    .mini-wrapper > div, .mini-wrapper11 > div {
        margin: 0 auto; 
    }
}
 /* woman */
 .woman-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 30px;
 }
 .woman-left h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
 }
  .woman-left p {
    font-family: "Graphik Web";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .woman-left a{
    color: black;
  }
  .woman a:hover{
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .4s ease;
}

 .woman-right{
    border: 2px solid black;
    width: 600px;
    height: 350px;
    border: none;
 }
 .woman-right img{
    width: 100%;
    height: 100%;
 }
 @media (max-width: 990px) {
   .woman-wrapper{
    flex-direction: column;
   }
}
/* before grid */

.before-wrapper{
    display: flex;
    justify-content: center;
    padding: 80px;
}
.before-wrapper img{
    width: 80%;
  border-radius: 20px;
}
.before-wrapper h3 {
    font-family: "Graphik Web";
    color: black;
    font-size: 24px;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;

}
.before-wrapper h3 a{
    color: black;
}
.before-wrapper h3:hover{
    text-decoration: underline;
     font-family: "Graphik Web";
}
.before-wrapper p{
    font-size: 16px;
    font-family: 400;
    line-height: 2;
    margin-bottom: 50px;
}
.before-wrapper a{color: black;
}
.xxx:hover{
    padding: 13px 20px;
    border-radius: 20px;
    transition: .3s ease;
    background-color: yellow;
}
.kings{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    font-weight: 400;
    margin-top: 30px;

} 
@media (max-width:991px) {
    .before-wrapper{
        flex-direction: column;
    }
    
}

/* stress*/
.stress h2{
    color: #231e15;
    font-family: "Means Web";
    font-size: 38px;
    font-weight: 400;
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 70px; 

}
.wow{
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 70px;  

}
.wow a{
    color: #231e15;
    font-weight: 400;
}
.wow a:hover{
    background-color: yellow;
    border-radius: 20px;
    padding: 10px 20px;
}
.stress-mini{
    display: flex;
     justify-content: center;
     gap: 2em; 
     padding: 10px;   
}
.aa:hover{
    background-color: #007BFF;

}
.stress-mini h3{
    color: #231e15;
    font-size: 16px;
    font-weight: 500;
     font-family: "Graphik Web";
}
.stress-mini p{
    color: #231e15;
    font-size: 13px;
    font-weight: 400;
     font-family: "Graphik Web";
}
.stress-mini img {
    
width: 100px;
}



 

 /* easy */
 .easy{
    background-color: #231e15;
    padding: 90px;
 }
 .easy h2{
    font-size: 37.5px;
    font-weight: 400;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
 }
 .easyy{
    text-align: center;
    margin-top: 35px;
 }
 .easyy a{
     padding: 12px 22px;
    background-color: yellow;
    border-radius: 20px;
    text-align: center;
    color: #231e15;
 }
 .easyy a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    box-shadow: 0px 10px 0px 0px white;
    }
 /* section before footer */
 .before-footer{
    background-color: #f5f5f5;
    padding: 35px;
     font-family: "Graphik Web";
 }
 .before-footer strong{
    font-size: 14px;
    font-weight: 400;
 }
 .before-footer p{
    margin-left: 50px;
 }
 .before-footer ul li{
    font-size: 14px;
    font-weight: 400;
    padding: 7px;
 }
 .before-footer a{
    color: black;
     text-decoration: underline;
 }
/* footer */
 footer{
    background-color: #e7b75f;
 }
 .footer1{
    border-bottom: 1px solid black;
    padding: 70px;
 }
 .ul-footer1{
    display: flex;
    justify-content: center;
    gap: 1.5em;
 }
 .ul-footer1 h3 p{
    font-size: 16px;
    font-weight: 400
 }
  .ul-footer1 li a{
    font-size: 16px;
    font-weight: 400;
     font-family: "Graphik Web";
     color: black;
     text-align: center;
     text-decoration: underline;
  }

  .ul-footer1 li a:hover{
    background-color: yellow;
  }

  .footer2{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 100px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
  }

  .ft2 h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
}
.ul-ft2{
    text-align: center;
}
.ul-ft2 a{
    color: black;
    text-decoration: underline;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-family: "Graphik Web";
}
.ul-ft2 a:hover{
    background-color: yellow;
}
.ft2 p{
    font-size: 13px;
    font-weight: 300;
     font-family: "Means Web";
     padding-bottom: 30px;
}
.ft2 a{
     font-size: 13px;
    font-weight: 300;
     font-family: "Means Web";
     color: black;
}
.ft2 a:hover{
    background-color: yellow;
    padding: 13px;
    border-radius: 20px;
    transition: .5s ease;
}
.fx h3{
    display: inline-flex;
    align-items: center;
    gap: 0.5em; 

}
.ft3{
    
}
.f3-ul{
    display: flex;
    justify-content: center;
    gap: 1.5em;   
    padding-top: 40px;
    padding-bottom: 50px;
}

.f4{
    display: flex;
    justify-content: center;
    gap: 1.5em;

}
.f4-ul{
    display: flex;
    gap: 1.5em;
}
.f5{
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 20px;
    padding-bottom: 40px;
}
.f5p p{
    font-size: 11px;
    font-weight: 400;
    font-family: "Graphik Web";
}
.f5s{
    text-decoration: underline;
}
.f5s a{
    color: black;
}
language-container 
.language-container{
    background-color: #e7b75f;
}
.language-container select {
  padding: 12px 30px;
  font-size: 20px;
  border: 1px solid black;
  background-color: #e7b75f;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.language-container select:focus {
  border-color: #007BFF;
}

/* footer media query */

@media (max-width: 768px) {
    footer {
        padding: 20px 10px;
    }
    .footer1,
    .footer2 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: left; 
    }
    
    .ft3,
    .f4,
    .f5 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: center; 
    }

  
    .ul-footer1 {
        display: block;
        padding-left: 20px;
        list-style: none; 
        margin-top: 10px;
        text-align: left;
    }
    
    .ul-footer1 li {
        display: block; 
        margin-bottom: 5px;
        text-align: left;
    }
    
    .ul-footer1 H3, 
    .ul-footer1 P {
        display: block; 
        margin: 0;
        padding: 0;
    }
    
    .ft2 {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        text-align: left;
    }
    
    .ft2 .fx {
        display: block;
        margin-bottom: 15px; 
    }
    
    .ft2 .fx h3 {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .ul-ft2 {
        padding-left: 20px;
        text-align: left;
    }
    .f3-ul {
        padding-left: 0;
        list-style: none;
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto; 
    }
    .f3-ul li:nth-child(1) {
        width: 100%; 
        margin-bottom: 15px; 
        text-align: center;
    }
    .f3-ul li:nth-child(n+2):nth-child(-n+5) {
        
        width: 50%; 
        text-align: center; 
        margin: 5px 0;
    }
    .f3-ul li:nth-child(6) {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .f4-1 {
        display: block !important; 
        margin-bottom: 20px;
        text-align: center; 
    }
    
    .f4-1 div {
        margin-bottom: 10px;
    }
    
    .f4-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        padding-left: 0;
        list-style: none;
        margin-bottom: 20px;
    }
    
    .f4-ul li {
        margin: 5px;
    }
    
    .f5 {
        display: block;
        padding-top: 15px; 
        border-top: 1px solid #ccc; 
        text-align: center; 
    }

    .language-container {
        margin-bottom: 15px;
    }
    .f5p p {
        font-size: 14px;
        line-height: 1.6;
        text-align: center; 
    }
}
/* footer */
 footer{
    background-color: #e7b75f;
 }
 .footer1{
    border-bottom: 1px solid black;
    padding: 70px;
 }
 .ul-footer1{
    display: flex;
    justify-content: center;
    gap: 1.5em;
 }
 .ul-footer1 h3 p{
    font-size: 16px;
    font-weight: 400
 }
  .ul-footer1 li a{
    font-size: 16px;
    font-weight: 400;
     font-family: "Graphik Web";
     color: black;
     text-align: center;
     text-decoration: underline;
  }

  .ul-footer1 li a:hover{
    background-color: yellow;
  }

  .footer2{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 100px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
  }

  .ft2 h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
}
.ul-ft2{
    text-align: center;
}
.ul-ft2 a{
    color: black;
    text-decoration: underline;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-family: "Graphik Web";
}
.ul-ft2 a:hover{
    background-color: yellow;
}
.ft2 p{
    font-size: 13px;
    font-weight: 300;
     font-family: "Means Web";
     padding-bottom: 30px;
}
.ft2 a{
     font-size: 13px;
    font-weight: 300;
     font-family: "Means Web";
     color: black;
}
.ft2 a:hover{
    background-color: yellow;
    padding: 13px;
    border-radius: 20px;
    transition: .5s ease;
}
.fx h3{
    display: inline-flex;
    align-items: center;
    gap: 0.5em; 

}
.ft3{
    
}
.f3-ul{
    display: flex;
    justify-content: center;
    gap: 1.5em;   
    padding-top: 40px;
    padding-bottom: 50px;
}

.f4{
    display: flex;
    justify-content: center;
    gap: 1.5em;

}
.f4-ul{
    display: flex;
    gap: 1.5em;
}
.f5{
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 20px;
    padding-bottom: 40px;
}
.f5p p{
    font-size: 11px;
    font-weight: 400;
    font-family: "Graphik Web";
}
.f5s{
    text-decoration: underline;
}
.f5s a{
    color: black;
}
language-container 
.language-container{
    background-color: #e7b75f;
}
.language-container select {
  padding: 12px 30px;
  font-size: 20px;
  border: 1px solid black;
  background-color: #e7b75f;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.language-container select:focus {
  border-color: #007BFF;
}

/* footer media query */

@media (max-width: 768px) {
    footer {
        padding: 20px 10px;
    }
    .footer1,
    .footer2 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: left; 
    }
    
    .ft3,
    .f4,
    .f5 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: center; 
    }

  
    .ul-footer1 {
        display: block;
        padding-left: 20px;
        list-style: none; 
        margin-top: 10px;
        text-align: left;
    }
    
    .ul-footer1 li {
        display: block; 
        margin-bottom: 5px;
        text-align: left;
    }
    
    .ul-footer1 H3, 
    .ul-footer1 P {
        display: block; 
        margin: 0;
        padding: 0;
    }
    
    .ft2 {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        text-align: left;
    }
    
    .ft2 .fx {
        display: block;
        margin-bottom: 15px; 
    }
    
    .ft2 .fx h3 {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .ul-ft2 {
        padding-left: 20px;
        text-align: left;
    }
    .f3-ul {
        padding-left: 0;
        list-style: none;
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto; 
    }
    .f3-ul li:nth-child(1) {
        width: 100%; 
        margin-bottom: 15px; 
        text-align: center;
    }
    .f3-ul li:nth-child(n+2):nth-child(-n+5) {
        
        width: 50%; 
        text-align: center; 
        margin: 5px 0;
    }
    .f3-ul li:nth-child(6) {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .f4-1 {
        display: block !important; 
        margin-bottom: 20px;
        text-align: center; 
    }
    
    .f4-1 div {
        margin-bottom: 10px;
    }
    
    .f4-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        padding-left: 0;
        list-style: none;
        margin-bottom: 20px;
    }
    
    .f4-ul li {
        margin: 5px;
    }
    
    .f5 {
        display: block;
        padding-top: 15px; 
        border-top: 1px solid #ccc; 
        text-align: center; 
    }

    .language-container {
        margin-bottom: 15px;
    }
    .f5p p {
        font-size: 14px;
        line-height: 1.6;
        text-align: center; 
    }
}