*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.hero1-wrapper{
    display: flex; 
    justify-content: center; 
     align-items: center;  
     gap: 2em;
    padding: 20px;
    background-color: #f5f5f5;
}
.hero1-right{
    width: 600px;
    height: 500px;
    border: 2px solid black;
    border: none;
}
.hero1-right img{
    width: 100%;
}



 .hero-leftP{
    font-size: 13px;
    font-weight: 500;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

}
.hero-p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

}
.hero1-left h1{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
}
 .btn a{
    color: black;
    background-color: yellow;
    padding: 11px 20px ;
    border: 1px solid black;
    border-radius: 30px;
}
.btn a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    box-shadow: 0px 5px 0px 0px black;
    }  
    /* hero two */
    .hero2-wrapper{
        background-color: #ffe01b;
        display: flex;
        justify-content: space-around;
        padding: 100px;
    }

    .hero2-wrapper h2{
        font-size: 37px;
        font-weight: 400;
        line-height: 38px;
        margin-bottom: 20px;
        font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

    }
    .hero2-wrapper p{
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

    }
    .second-1{
        margin-bottom: 60px;
    }
    .second-1 h3{
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    }
    .second-1 p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    }
/* three */
    .three-wrapper{
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding: 60px;
    }
    .three-wrapper h2{
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

    }
    .three-wrapper p{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 20px;
        margin-bottom: 25px;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

    }
    .three-img1{
    width: 550px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid yellow;
    /* border: none; */
}
  .three-img1 img{
    width: 100%;
    border-radius: 20px;
 }
.inner-three{
    padding: 20px;
}
/* four */
.four-wrapper{
     background-color: #ebe1cd;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
     padding: 100px;
}
.p1{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

}
.four-wrapper h2{
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

}
.p2{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

}
.four-right{
    width: 600px;
    height: 600px;
    border: 2px solid black;
    border: none; 
}
.four-right img{
    width: 100%;
    height: 100%;
}

/* five */
.five-wrapper{
    padding: 50px;
    background-color: #ffffff;
}
.fiveh1{
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

}
.fiveh2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

}
.five-inner p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

}
.fiveA a{
    color: black;
}
.fiveA a:hover{
    padding: 10px 20px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 20px;
    transform: .4s ease;
}
.fivee{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid black;
    border: none;  
}
.fivee img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
} 
.five-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    
}
/* eight */
.eightinner h2{
    font-size: 31px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
.eightinner p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

}
.eightinner a{
    color: black;
}

.eightinner a:hover{
    padding: 10px 20px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 20px;
    transform: .4s ease;
}
.eight-img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid black;
    border: none;   
}
.eight-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}  
.eight-megawrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em; 
        padding: 40px;
    
} 
/* nine */
.five-wrapper1{
    padding: 50px;
    background-color: #f5f5f5;
}
.fiveh11{
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

}
.fiveh21{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

}
.five-inner1 p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

}
.fiveA1 a{
    color: black;
}
.fiveA1 a:hover{
    padding: 10px 20px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 20px;
    transform: .4s ease;
}
.fivee1{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid black;
    border: none;  
}
.fivee1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
} 
.five-inner1{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    
}
.ten h2{
    margin-top: 40px;
    padding: 10px;
    font-size: 38px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
font-size: "Means Web", Georgia, Times, "Times New Roman", serif;}
/* accord */
.accord{
    background-color: #231e15;
    padding: 40px;


}
.accord h2{
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    color: #ffffff
}
.accord p{
    font-size: 24PX;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;

    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    color: #ffffff;
}
.fiveA11 {
    text-align: center;
}
.fiveA11 a{
    color: white;
}
.fiveA11 a:hover{
    padding: 10px 20px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 20px;
    color: #231e15;
    transform: .4s ease;
}
/* second to last */

.btn1 a{
    color: black;
background-color: #f5f5f5;
    padding: 11px 20px ;
    border: 1px solid black;
    border-radius: 30px;
}
.btn1 a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    box-shadow: 0px 5px 0px 0px black;
    } 
    /* final */
    .final{
        padding: 30px;

        background-color: #ffe01b;

    }
    .final h2{
        font-size: 38px;
        font-weight: 400;
        margin-top: 20px;
        text-align: center;   
             font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

    }
    .btn111 a{
    color: black;
background-color: #ffe01b;
    padding: 11px 20px ;
    border: 1px solid black;
    border-radius: 30px;
}
.btn111{
    text-align: center;
    padding: 30px;
}
.btn111 a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    box-shadow: 0px 5px 0px 0px black;
    } 
     /* final */

      .three-wrapper1{
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding: 150px;
    }
    .three-wrapper1 h2{
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

    }
    .three-wrapper1 p{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 20px;
        margin-bottom: 25px;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

    }
    .three-img11{
    width: 550px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid yellow;
    /* border: none; */
}
  .three-img11 img{
    width: 100%;
    border-radius: 20px;
 }
.inner-three1{
    padding: 20px;
}
@media (max-width: 768px) 
    
  { .hero1-wrapper,
    .hero2-wrapper,
    .three-wrapper,
    .four-wrapper,
    .five-inner,
    .five-inner1,
    .eight-megawrapper,
    .three-wrapper1 {
        flex-direction: column; 
        padding: 20px; 

   
    .hero1-right,
    .three-img1,
    .four-right,
    .fivee,
    .fivee1,
    .eight-img,
    .three-img11 {
        width: 100%;
        height: auto; 
        max-width: 400px; 
        margin: 20px auto; 
    }

    .hero1-right img,
    .four-right img {
        height: auto; 
    }
    
   
    .hero1-left,
    .inner-three,
    .four-left,
    .inner-three1 {
        text-align: center;
        padding: 0;
    }

   
    h1 br,
    p br,
    .hero2-wrapper h2 br,
    .hero2-wrapper p br {
        display: none;
    }
    
   
    .hero2-wrapper > div {
        margin-bottom: 20px;
    }


    .hero1-left h1 {
        font-size: 32px; 
        line-height: 1.2;
    }

    
    .hero2-wrapper h2,
    .three-wrapper h2,
    .four-wrapper h2,
    .fiveh1,
    .fiveh2,
    .fiveh21,
    .ten h2,
    .accord h2,
    .final h2,
    .three-wrapper1 h2 {
        font-size: 28px; 
        line-height: 1.3;
    }
    
    
    .second-1 h3 {
        font-size: 20px; 
    }

    
    .hero-p,
    .p2,
    .accord p {
        font-size: 18px; 
        line-height: 1.4;
    }
    
    .three-wrapper p,
    .five-inner p,
    .five-inner1 p,
    .three-wrapper1 p,
    .eightinner p {
        font-size: 14px; 
        line-height: 1.5;
    }

    .hero-leftP,
    .p1 {
        font-size: 12px;
    }
}}
/* footer */
footer{
    background-color: #e7b75f;
 }
 .footer1{
    border-bottom: 1px solid black;
    padding: 70px;
 }
 .ul-footer1{
    display: flex;
    justify-content: center;
    gap: 1.5em;
 }
 .ul-footer1 h3 p{
    font-size: 16px;
    font-weight: 400
 }
  .ul-footer1 li a{
    font-size: 16px;
    font-weight: 400;
     font-family: "Graphik Web";
     color: black;
     text-align: center;
     text-decoration: underline;
  }

  .ul-footer1 li a:hover{
    background-color: yellow;
  }

  .footer2{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 100px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
  }

  .ft2 h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
}
.ul-ft2{
    text-align: center;
}
.ul-ft2 a{
    color: black;
    text-decoration: underline;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-family: "Graphik Web";
}
.ul-ft2 a:hover{
    background-color: yellow;
}
.ft2 p{
    font-size: 13px;
    font-weight: 300;
     font-family: "Means Web";
     padding-bottom: 30px;
}
.ft2 a{
     font-size: 13px;
    font-weight: 300;
     font-family: "Means Web";
     color: black;
}
.ft2 a:hover{
    background-color: yellow;
    padding: 13px;
    border-radius: 20px;
    transition: .5s ease;
}
.fx h3{
    display: inline-flex;
    align-items: center;
    gap: 0.5em; 

}
.ft3{
    
}
.f3-ul{
    display: flex;
    justify-content: center;
    gap: 1.5em;   
    padding-top: 40px;
    padding-bottom: 50px;
}

.f4{
    display: flex;
    justify-content: center;
    gap: 1.5em;

}
.f4-ul{
    display: flex;
    gap: 1.5em;
}
.f5{
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 20px;
    padding-bottom: 40px;
}
.f5p p{
    font-size: 11px;
    font-weight: 400;
    font-family: "Graphik Web";
}
.f5s{
    text-decoration: underline;
}
.f5s a{
    color: black;
}
language-container 
.language-container{
    background-color: #e7b75f;
}
.language-container select {
  padding: 12px 30px;
  font-size: 20px;
  border: 1px solid black;
  background-color: #e7b75f;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.language-container select:focus {
  border-color: #007BFF;
}

/* footer media query */

@media (max-width: 768px) {
    footer {
        padding: 20px 10px;
    }
    .footer1,
    .footer2 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: left; 
    }
    
    .ft3,
    .f4,
    .f5 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: center; 
    }

  
    .ul-footer1 {
        display: block;
        padding-left: 20px;
        list-style: none; 
        margin-top: 10px;
        text-align: left;
    }
    
    .ul-footer1 li {
        display: block; 
        margin-bottom: 5px;
        text-align: left;
    }
    
    .ul-footer1 H3, 
    .ul-footer1 P {
        display: block; 
        margin: 0;
        padding: 0;
    }
    
    .ft2 {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        text-align: left;
    }
    
    .ft2 .fx {
        display: block;
        margin-bottom: 15px; 
    }
    
    .ft2 .fx h3 {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .ul-ft2 {
        padding-left: 20px;
        text-align: left;
    }
    .f3-ul {
        padding-left: 0;
        list-style: none;
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto; 
    }
    .f3-ul li:nth-child(1) {
        width: 100%; 
        margin-bottom: 15px; 
        text-align: center;
    }
    .f3-ul li:nth-child(n+2):nth-child(-n+5) {
        
        width: 50%; 
        text-align: center; 
        margin: 5px 0;
    }
    .f3-ul li:nth-child(6) {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .f4-1 {
        display: block !important; 
        margin-bottom: 20px;
        text-align: center; 
    }
    
    .f4-1 div {
        margin-bottom: 10px;
    }
    
    .f4-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        padding-left: 0;
        list-style: none;
        margin-bottom: 20px;
    }
    
    .f4-ul li {
        margin: 5px;
    }
    
    .f5 {
        display: block;
        padding-top: 15px; 
        border-top: 1px solid #ccc; 
        text-align: center; 
    }

    .language-container {
        margin-bottom: 15px;
    }
    .f5p p {
        font-size: 14px;
        line-height: 1.6;
        text-align: center; 
    }
}
/* footer media query */

@media (max-width: 768px) {
    footer {
        padding: 20px 10px;
    }
    .footer1,
    .footer2 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: left; 
    }
    
    .ft3,
    .f4,
    .f5 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: center; 
    }

  
    .ul-footer1 {
        display: block;
        padding-left: 20px;
        list-style: none; 
        margin-top: 10px;
        text-align: left;
    }
    
    .ul-footer1 li {
        display: block; 
        margin-bottom: 5px;
        text-align: left;
    }
    
    .ul-footer1 H3, 
    .ul-footer1 P {
        display: block; 
        margin: 0;
        padding: 0;
    }
    
    .ft2 {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        text-align: left;
    }
    
    .ft2 .fx {
        display: block;
        margin-bottom: 15px; 
    }
    
    .ft2 .fx h3 {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .ul-ft2 {
        padding-left: 20px;
        text-align: left;
    }
    .f3-ul {
        padding-left: 0;
        list-style: none;
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto; 
    }
    .f3-ul li:nth-child(1) {
        width: 100%; 
        margin-bottom: 15px; 
        text-align: center;
    }
    .f3-ul li:nth-child(n+2):nth-child(-n+5) {
        
        width: 50%; 
        text-align: center; 
        margin: 5px 0;
    }
    .f3-ul li:nth-child(6) {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .f4-1 {
        display: block !important; 
        margin-bottom: 20px;
        text-align: center; 
    }
    
    .f4-1 div {
        margin-bottom: 10px;
    }
    
    .f4-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        padding-left: 0;
        list-style: none;
        margin-bottom: 20px;
    }
    
    .f4-ul li {
        margin: 5px;
    }
    
    .f5 {
        display: block;
        padding-top: 15px; 
        border-top: 1px solid #ccc; 
        text-align: center; 
    }

    .language-container {
        margin-bottom: 15px;
    }
    .f5p p {
        font-size: 14px;
        line-height: 1.6;
        text-align: center; 
    }
}

