*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.re1-wrapper{
    display: flex; 
    justify-content: center; 
     align-items: center;  
      gap: 2em; 
    padding: 20px; 
    background-color: #ebe1cd; 
}
.R1-1p{
    font-size: 13px;
    font-weight: 500;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
.R1-inner p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
.R1-inner h1{

    font-size: 45px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
}
 .R11{
    width: 600px;
    height: 500px;
    border: 2px solid black;
     border: none; 
} 
 .R11 img{
    width: 100%;
} 
 .btn a{
    color: black;
    background-color: yellow;
    padding: 11px 20px ;
    border: 1px solid black;
    border-radius: 30px;
}
.btn a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    box-shadow: 0px 5px 0px 0px black;
    }  

    /* re2 */
    .Re2-megawrapper{
        padding: 100px;
    }
    .Re2-megawrapper h2{
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 20px;
        font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    }
     .Re2-megawrapper p{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 40px;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
     }
      .inner-element{
        display: flex;
        justify-content: center;
        gap: 2.5em;
    
     } 
     .inner-element h3 a{ 
        font-size: 16px ;
        font-weight: 400;
        color: black;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
     }
       .inner-element p{
        font-size: 13px;
        font-weight: 400;
        margin-top: 20px;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
     }
     .CC{
        border: 2px solid black;
        width: 250px;
        height: 150px;
        border-radius: 20px;
        margin-bottom: 20px;
        border: none;
     }
     .CC img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        
     }
     .mini-re:hover{
        background-color: #ebe1cd;
        padding: 20px;
        transition: .5s ease;
     }
     .mini-re{
        margin-bottom: 40px;
     }

     .fiveA a{
    color: black;
}
.fiveA a:hover{
    padding: 10px 20px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 20px;
    transform: .4s ease;
}
/* final 11 */
.easy-wrapper{
    padding: 40px;
}
.rell{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: auto;
    border: none;
}
.rell img{
    width: 100%;
}
.final12 h2{
    font-size: 38px;
    font-weight: 400;
    color: black;
    margin-bottom: 20px;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    text-align: center
}
.final12 p{
    font-size: 24px;
    font-weight: 400;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    color: black;
    text-align: center;
}
 .btn12 a{
    color: black;
background-color: white;
    padding: 11px 20px ;
    border: 1px solid black;
    border-radius: 30px;
}
.btn12{
    text-align: center;
    padding: 30px;
}
.btn12 a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    box-shadow: 0px 5px 0px 0px black;
    } 
     /* second to the last */
     .sl-wrapper{
        background-color: #f5f5f5;
        padding: 50px;
     }
     .ABC{
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 50px;
        text-align: center;
        font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
     }
 .sl-inner{
    display: flex;
    justify-content: center; 
    gap: 2em;
    padding: 20px;
    margin-bottom: 30px;
 }
 .sl-inner h2{
    font-size: 24px;
    font-weight: 400;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
 }
 .sl-inner p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 20px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
 }
 .sl-inner a{
    color: black;
    text-decoration: underline;
 }
 .sl-inner a:hover{
    background-color: #e7b75f;
 }

.sl-inner1{
    display: flex;
    justify-content: space-around; 
    padding: 20px;
 }
 .sl-inner1 h2{
    font-size: 24px;
    font-weight: 400;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
 }
 .sl-inner1 p{
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    line-height: 21px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
 }
.sl-inner1 a{
    color: black;
    text-decoration: underline;
 }
  .sl-inner1 a:hover{
    background-color: #e7b75f;
 }
/* final */

.final{
 background-color: #231e15;
 padding: 30px;
}
.final h2{
    font-size: 38px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    text-align: center
}
.final p{
    font-size: 24px;
    font-weight: 400;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    color: white;
    text-align: center;
}
 .btn111 a{
    color: black;
background-color: #ffe01b;
    padding: 11px 20px ;
    border: 1px solid black;
    border-radius: 30px;
}
.btn111{
    text-align: center;
    padding: 30px;
}
.btn111 a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    box-shadow: 0px 5px 0px 0px white;
    } 

    /* media query except footer */
    @media (max-width: 768px) {

    .re1-wrapper {
        flex-direction: column; 
        gap: 1em; 
        padding: 20px 10px; 
    }

    .R11 {
        width: 90%; 
        height: auto;
    }

    
    .R1-inner h1 {
        font-size: 32px;
        text-align: center; 
    }
    
    .R1-inner p {
        font-size: 18px;
        text-align: center; 
    }
    
    .R1-1p {
        font-size: 12px; 
        text-align: center;
    }

    .R1-inner {
        text-align: center; 
    }

    .btn {
        text-align: center; 
    }

    
    
    .Re2-megawrapper {
        padding: 50px 10px; 
    }

    .Re2-megawrapper h2 {
        font-size: 28px; 
        text-align: center;
    }
    
    .Re2-megawrapper p {
        font-size: 16px; 
        text-align: center;
    }

    .inner-element {
        flex-direction: column; 
        gap: 20px; 
    }

    .mini-re {
        text-align: center; 
        padding: 15px; 
    }
    
    .CC {
        width: 100%; 
        height: auto; 
    }

   
    .easy-wrapper {
        padding: 20px;
    }

    .final12 h2 {
        font-size: 24px; 
    }

    .final12 p {
        font-size: 16px; 
    }

    
    .ABC {
        font-size: 28px; 
    }

    .sl-inner,
    .sl-inner1 {
        flex-direction: column; 
        gap: 20px;
        padding: 10px;
    }

    .sl-inner h2,
    .sl-inner1 h2 {
        font-size: 20px; 
    }

    .sl-inner p,
    .sl-inner1 p {
        font-size: 14px; 
        line-height: 1.4;
    }
    
    
    .sl-inner > div,
    .sl-inner1 > div {
        text-align: center;
    }
    
    
    .final h2 {
        font-size: 28px;
    }

    .final p {
        font-size: 18px;
    }
}

    /* footer */
 
 footer{
    background-color: #e7b75f;
 }
 .footer1{
    border-bottom: 1px solid black;
    padding: 70px;
 }
 .ul-footer1{
    display: flex;
    justify-content: center;
    gap: 1.5em;
 }
 .ul-footer1 h3 p{
    font-size: 16px;
    font-weight: 400
 }
  .ul-footer1 li a{
    font-size: 16px;
    font-weight: 400;
     font-family: "Graphik Web";
     color: black;
     text-align: center;
     text-decoration: underline;
  }

  .ul-footer1 li a:hover{
    background-color: yellow;
  }

  .footer2{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 100px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
  }

  .ft2 h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
}
.ul-ft2{
    text-align: center;
}
.ul-ft2 a{
    color: black;
    text-decoration: underline;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-family: "Graphik Web";
}
.ul-ft2 a:hover{
    background-color: yellow;
}
.ft2 p{
    font-size: 13px;
    font-weight: 300;
     font-family: "Means Web";
     padding-bottom: 30px;
}
.ft2 a{
     font-size: 13px;
    font-weight: 300;
     font-family: "Means Web";
     color: black;
}
.ft2 a:hover{
    background-color: yellow;
    padding: 13px;
    border-radius: 20px;
    transition: .5s ease;
}
.fx h3{
    display: inline-flex;
    align-items: center;
    gap: 0.5em; 

}

.f3-ul{
    display: flex;
    justify-content: center;
    gap: 1.5em;   
    padding-top: 40px;
    padding-bottom: 50px;
}

.f4{
    display: flex;
    justify-content: center;
    gap: 1.5em;

}
.f4-ul{
    display: flex;
    gap: 1.5em;
}
.f5{
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 20px;
    padding-bottom: 40px;
}
.f5p p{
    font-size: 11px;
    font-weight: 400;
    font-family: "Graphik Web";
}
.f5s{
    text-decoration: underline;
}
.f5s a{
    color: black;
}
language-container 
.language-container{
    background-color: #e7b75f;
}
.language-container select {
  padding: 12px 30px;
  font-size: 20px;
  border: 1px solid black;
  background-color: #e7b75f;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.language-container select:focus {
  border-color: #007BFF;
}

/* footer media query */

@media (max-width: 768px) {
    footer {
        padding: 20px 10px;
    }
    .footer1,
    .footer2 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: left; 
    }
    
    .ft3,
    .f4,
    .f5 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: center; 
    }

  
    .ul-footer1 {
        display: block;
        padding-left: 20px;
        list-style: none; 
        margin-top: 10px;
        text-align: left;
    }
    
    .ul-footer1 li {
        display: block; 
        margin-bottom: 5px;
        text-align: left;
    }
    
    .ul-footer1 H3, 
    .ul-footer1 P {
        display: block; 
        margin: 0;
        padding: 0;
    }
    
    .ft2 {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        text-align: left;
    }
    
    .ft2 .fx {
        display: block;
        margin-bottom: 15px; 
    }
    
    .ft2 .fx h3 {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .ul-ft2 {
        padding-left: 20px;
        text-align: left;
    }
    .f3-ul {
        padding-left: 0;
        list-style: none;
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto; 
    }
    .f3-ul li:nth-child(1) {
        width: 100%; 
        margin-bottom: 15px; 
        text-align: center;
    }
    .f3-ul li:nth-child(n+2):nth-child(-n+5) {
        
        width: 50%; 
        text-align: center; 
        margin: 5px 0;
    }
    .f3-ul li:nth-child(6) {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .f4-1 {
        display: block !important; 
        margin-bottom: 20px;
        text-align: center; 
    }
    
    .f4-1 div {
        margin-bottom: 10px;
    }
    
    .f4-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        padding-left: 0;
        list-style: none;
        margin-bottom: 20px;
    }
    
    .f4-ul li {
        margin: 5px;
    }
    
    .f5 {
        display: block;
        padding-top: 15px; 
        border-top: 1px solid #ccc; 
        text-align: center; 
    }

    .language-container {
        margin-bottom: 15px;
    }
    .f5p p {
        font-size: 14px;
        line-height: 1.6;
        text-align: center; 
    }
}
     
