
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
  text-decoration: none;
}


.re11-wrapper{
    display: flex; 
    justify-content: center; 
     align-items: center;  
      gap: 2em; 
    
    background-color: #d2ebff; 
}
.R11-1p{
    font-size: 13px;
    font-weight: 500;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
.R11-inner p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
.R11-inner h1{

    font-size: 45px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
}
 .R111{
    width: 600px;
    height: 500px;
    border: 2px solid black;
     border: none; 
} 
 .R111 img{
    width: 100%;
} 
 .btn1 a{
    color: black;
    background-color: yellow;
    padding: 11px 20px ;
    border: 1px solid black;
    border-radius: 30px;
}
.btn1 a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    box-shadow: 0px 5px 0px 0px black;
    } 
    /* second */
    .five-wrapper{
    padding: 50px;
    background-color: #ffffff;
}
.fiveh1{
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

}
.fiveh2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

}
.five-inner p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

}
.fiveA a{
    color: black;
}
.fiveA a:hover{
    padding: 10px 20px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 20px;
    transform: .4s ease;
}
.fivee{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid black;
    border: none;  
}
.fivee img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
} 
.five-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    
}
/* stress */

.stress h2{
    color: #231e15;
    font-family: "Means Web";
    font-size: 38px;
    font-weight: 400;
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 70px; 

}
.wow{
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 70px;  

}
.wow a{
    color: #231e15;
    font-weight: 400;
}
.wow a:hover{
    background-color: yellow;
    border-radius: 20px;
    padding: 10px 20px;
}
.stress-mini{
    display: flex;
     justify-content: center;
     gap: 2em; 
     padding: 10px;   
}
.aa:hover{
    background-color: #007BFF;

}
.stress-mini h3{
    color: #231e15;
    font-size: 16px;
    font-weight: 500;
     font-family: "Graphik Web";
}
.stress-mini p{
    color: #231e15;
    font-size: 13px;
    font-weight: 400;
     font-family: "Graphik Web";
}
.stress-mini img {
    
width: 100px;
}


/* easy */
.easy{
    background-color: #ebe1cd;
    padding: 50px;

}
.easy h2{
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.easy p{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    
}
* eight */
.eightinner h2{
    font-size: 31px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
.eightinner p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

}
.eightinner a{
    color: black;
}

.eightinner a:hover{
    padding: 10px 20px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 20px;
    transform: .4s ease;
}
.eight-img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid black;
    border: none;   
}
.eight-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}  
.eight-megawrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em; 
        padding: 40px;
    
} 


 .three-wrapper24{
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding: 40px;
    }
    .three-wrapper24 h2{
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

    }
    .three-wrapper24 p{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 25px;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

    }
    .three-img24{
    width: 550px;
    height: 300px;
    border: 2px solid yellow;
    border: none; 
}
  .three-img24 img{
    width: 100%;
    margin-top: 30px;
 }
.inner-three24{
}
.btn44 a{
    color: black;
    background-color: #f5f5f5;
    padding: 11px 20px ;
    border: 1px solid black;
    border-radius: 30px;
}
.btn44 a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    box-shadow: 0px 5px 0px 0px black;
    } 

    /* slast */
    .slast-wrapper{
 display: flex;
 justify-content: center;
 gap: 2.5em;
 padding: 80px;
    }
    .slast-wrapper p{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 30px;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    }
    .slast-wrapper h2{
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 20px;
        font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    }

     .omo{
    width: 550px;
    height: 350px;
    border-radius: 20px;
    border: 2px solid yellow;
    border: none; 
}
  .omo img{
    width: 100%;
    height: 100%;
  
 }
 /* here */
 .Re2-megawrapper{
        padding: 100px;
    }
    .Re2-megawrapper h2{
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 20px;
        font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    }
     
      .inner-element{
        display: flex;
        justify-content: space-around;
        /* justify-content: center;
        gap: 2.5em; */
    
     } 
     .inner-element h3 a{ 
        font-size: 20px ;
        font-weight: 500;
        line-height: 28px;
        color: black;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
     }
     .inner-element h3 a:hover{
        text-decoration: underline;
        transition: .4s ease;

     }
     
       .inner-element p{
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
        line-height: 28px;
        font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
     }
     .CC{
        border: 2px solid black;
        width: 350px;
        height: 200px;
        border-radius: 20px;
        margin-bottom: 20px;
        border: none;
     }
     .CC img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        
     }
     ini-re{
        margin-bottom: 40px;
     }

   
    
     /* final */
    .final{
        padding: 30px;

        background-color: #231e15;

    }
    .final h2{
        font-size: 38px;
        color: #ffffff;
        font-weight: 400;
        margin-top: 20px;
        text-align: center;   
             font-family: "Means Web", Georgia, Times, "Times New Roman", serif;

    }
    .btn111 a{
    color: black;
background-color: #ffe01b;
    padding: 11px 20px ;
    border: 1px solid black;
    border-radius: 30px;
}
.btn111{
    text-align: center;
    padding: 30px;
}
.btn111 a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    box-shadow: 0px 5px 0px 0px white;
    } 
     /* final */
@media screen and (max-width: 768px) {
    /* General Mobile Styles */
    body {
         
    }

    
    .re11-wrapper,
    .three-wrapper, 
    .five-inner,
    .eight-megawrapper,
    .need-wrapper {
        flex-direction: column; 
        text-align: center;
        gap: 20px;
        padding: 30px 10px;
    }


    .R11-inner h1,
    .three-wrapper24 h2, 
    .slast-wrapper h2, 
    .Re2-megawrapper h2, 
    .final h2, 
    .fiveh1,
    .fiveh2,
    .stress h2,
    .eightinner h2 {
        font-size: 28px !important; 
        line-height: 1.2;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .R11-1p {
        font-size: 11px; 
    }

    .R11-inner p,
    .five-inner p,
    .eightinner p,
    .three-wrapper24 p, 
    .slast-wrapper p, 
    .inner-element p {
        font-size: 16px; 
        text-align: center;
        white-space: normal;
        margin-bottom: 20px; 
    }
    .R111,
    .fivee,
    .eight-img,
    .three-img24, 
    .omo, 
    .CC { 
        width: 100%; 
        height: auto; 
        max-width: 400px;
        margin: 0 auto 20px auto; 
    }
    .R111 img,
    .fivee img,
    .eight-img img,
    .three-img24 img,
    .omo img,
    .CC img {
        width: 100%;
        height: auto;
    }
    .btn1, .btn44, .btn111 {
        text-align: center;
        margin: 20px 0;
    }

    .btn1 a, .btn44 a, .btn111 a {
        padding: 12px 25px; 
        display: inline-block;
        transform: none !important;
        box-shadow: none !important;
    }
    
    .wrapper {
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
    }
    .wrapper h2 {
        font-size: 30px;
    }
    .stress-ulwrapper {
        flex-direction: column; 
        gap: 20px;
    }
    .stress-mini {
        flex-direction: column; 
        align-items: center;
        gap: 10px;
        text-align: center;
    }
    .stress h2, .wow {
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
    }
    .stress-mini h3 {
        font-size: 18px; 
    }
    .stress-mini img {
        width: 80px;
    }
    .easy {
        padding: 40px 10px;
    }
    .easy h2 {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .easy p {
        font-size: 18px; 
    }
    .slast-wrapper {
        flex-direction: column;
        padding: 40px 10px;
        gap: 30px;
    }
    .Re2-megawrapper {
        padding: 40px 10px;
    }
    .inner-element {
        flex-direction: column; 
        gap: 40px;
    }
    .inner-element h3 a {
        font-size: 18px;
        display: block; 
    }
    .ini-re {
        margin-bottom: 20px; 
    }
    .final {
        padding: 30px 10px;
    }
}
/* footer */
 footer{
    background-color: #e7b75f;
 }
 .footer1{
    border-bottom: 1px solid black;
    padding: 70px;
 }
 .ul-footer1{
    display: flex;
    justify-content: center;
    gap: 1.5em;
 }
 .ul-footer1 h3 p{
    font-size: 16px;
    font-weight: 400
 }
  .ul-footer1 li a{
    font-size: 16px;
    font-weight: 400;
     font-family: "Graphik Web";
     color: black;
     text-align: center;
     text-decoration: underline;
  }

  .ul-footer1 li a:hover{
    background-color: yellow;
  }

  .footer2{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 100px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
  }

  .ft2 h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
}
.ul-ft2{
    text-align: center;
}
.ul-ft2 a{
    color: black;
    text-decoration: underline;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-family: "Graphik Web";
}
.ul-ft2 a:hover{
    background-color: yellow;
}
.ft2 p{
    font-size: 13px;
    font-weight: 300;
     font-family: "Means Web";
     padding-bottom: 30px;
}
.ft2 a{
     font-size: 13px;
    font-weight: 300;
     font-family: "Means Web";
     color: black;
}
.ft2 a:hover{
    background-color: yellow;
    padding: 13px;
    border-radius: 20px;
    transition: .5s ease;
}
.fx h3{
    display: inline-flex;
    align-items: center;
    gap: 0.5em; 

}
.ft3{
    
}
.f3-ul{
    display: flex;
    justify-content: center;
    gap: 1.5em;   
    padding-top: 40px;
    padding-bottom: 50px;
}

.f4{
    display: flex;
    justify-content: center;
    gap: 1.5em;

}
.f4-ul{
    display: flex;
    gap: 1.5em;
}
.f5{
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 20px;
    padding-bottom: 40px;
}
.f5p p{
    font-size: 11px;
    font-weight: 400;
    font-family: "Graphik Web";
}
.f5s{
    text-decoration: underline;
}
.f5s a{
    color: black;
}
language-container 
.language-container{
    background-color: #e7b75f;
}
.language-container select {
  padding: 12px 30px;
  font-size: 20px;
  border: 1px solid black;
  background-color: #e7b75f;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.language-container select:focus {
  border-color: #007BFF;
}

/* footer media query */

@media (max-width: 768px) {
    footer {
        padding: 20px 10px;
    }
    .footer1,
    .footer2 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: left; 
    }
    
    .ft3,
    .f4,
    .f5 {
        display: block !important;
        width: 100%;
        margin-bottom: 25px;
        text-align: center; 
    }

  
    .ul-footer1 {
        display: block;
        padding-left: 20px;
        list-style: none; 
        margin-top: 10px;
        text-align: left;
    }
    
    .ul-footer1 li {
        display: block; 
        margin-bottom: 5px;
        text-align: left;
    }
    
    .ul-footer1 H3, 
    .ul-footer1 P {
        display: block; 
        margin: 0;
        padding: 0;
    }
    
    .ft2 {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        text-align: left;
    }
    
    .ft2 .fx {
        display: block;
        margin-bottom: 15px; 
    }
    
    .ft2 .fx h3 {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .ul-ft2 {
        padding-left: 20px;
        text-align: left;
    }
    .f3-ul {
        padding-left: 0;
        list-style: none;
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto; 
    }
    .f3-ul li:nth-child(1) {
        width: 100%; 
        margin-bottom: 15px; 
        text-align: center;
    }
    .f3-ul li:nth-child(n+2):nth-child(-n+5) {
        
        width: 50%; 
        text-align: center; 
        margin: 5px 0;
    }
    .f3-ul li:nth-child(6) {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .f4-1 {
        display: block !important; 
        margin-bottom: 20px;
        text-align: center; 
    }
    
    .f4-1 div {
        margin-bottom: 10px;
    }
    
    .f4-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        padding-left: 0;
        list-style: none;
        margin-bottom: 20px;
    }
    
    .f4-ul li {
        margin: 5px;
    }
    
    .f5 {
        display: block;
        padding-top: 15px; 
        border-top: 1px solid #ccc; 
        text-align: center; 
    }

    .language-container {
        margin-bottom: 15px;
    }
    .f5p p {
        font-size: 14px;
        line-height: 1.6;
        text-align: center; 
    }
}

     